
:root{
--font-family: inherit;
--accent-color:#404bbf;
--black-logo-titl:#2E2F42;
}


body{
   font-family: 'Roboto', sans-serif;
     background-color: #FFFFFF;
    color: #434455
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* buttons */
button{
    cursor: pointer;
}
.open-btn{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
       
}
.btn-filtr{
    font-family: "Roboto", sans-serif;
    color: #4D5AE5;
    background: #F4F4FD;
}
.btn-filtr:hover{
color: #FFFFFF;
background:var(--accent-color);
}
.btn-filtr:focus{
    color: #FFFFFF;
        background:var(--accent-color);
}
.modal-btm{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background: #4D5AE5;
}
.modal-btm:hover{
    background:var(--accent-color);
}
.modal-btm:focus{
    background:var(--accent-color);
}
/* header */


.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        }
.black-logo{
    color:var(--black-logo-titl);
}
.white-logo{
    color: #F4F4FD;
}

.section-head{
    background: #2E2F42;
}
.menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--black-logo-titl);
}
.menu-link:focus{
    color: #404bbf;
}
.menu-link:hover{
    color: var(--accent-color);
}
.contacts-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts-link:hover{
    color: #404bbf;
}
.contacts-link:focus{
    color: var(--accent-color);
}
.emeil-tel{
font-style: normal;
}
/* titel */
.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}


/* competencies */

.titel-list{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.small-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* skills */

.big-titel{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
         color: #2E2F42;
}
/* Team */
.team-box{
    background: #F4F4FD;
}
.people-list{
background: #FFFFFF;
}
/* footer*/
.foorer-box{
    background: #2E2F42;
}
.white-text{
    color: #F4F4FD;
}